@import "tailwindcss";

@theme {
 --color-luxury-gold: #D4AF37;
  --color-luxury-ivory: #F9F9F7;
  --color-luxury-charcoal: #1A1A1A;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}